body {
    margin: 0; 
    background-color: #2A2B2D;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    width: 70em; 
    height: 4.5em;
    background-color: #1B1B1B;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
#header_content {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.header_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    color: #9C9C9C;
}
.header_button:hover {
    text-decoration: underline;
}

/* Home Page */
#home {
    display: block;
}
#my_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10em;
    margin-left: 9rem;
    margin-right: 9rem;
}
#welcome_message {
    width: 538px;
    margin-top: 50px;
}
#greeting {
    font-family: 'Raleway';
    color: white;
    font-size: 32px;
    margin: 0;
}
#name {
    font-family: 'Raleway';
    color: white;
    font-size: 44px;
    margin: 0;
}
#my_description {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #9C9C9C;
    line-height: 2;
}
#download_cv {
    cursor: pointer;
    background-color: #3F8E00;
    border-color: #62BA1B;
    font-family: 'IBM Plex Mono', bold;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 25px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 21px;
    padding-bottom: 21px;
    box-shadow: 0 0 15px #3F8E00;
}

/*About Page */
#about {
    display: none;
}
#aboutContent {
    max-width: 90%;
    width: 600px;
    margin-left: 6rem;
    margin-top: 10rem;
    padding: 1rem;
}
#aboutLbl {
    font-family: 'Raleway';
    color: white;
    font-size: 44px;
    margin: 0;
}
#aboutMe {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #9C9C9C;
    line-height: 2;
    text-align: justify;
}
#imgFrame {
    display: flex;
    width: 18em;
    height: 16.5em;
}