body {
    margin: 0; 
    background-color: #2A2B2D;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    width: 70em; 
    height: 4.5em;
    background-color: #1B1B1B;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
#header_content {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.header_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    color: #9C9C9C;
}
.header_button:hover {
    text-decoration: underline;
}

/* Home Page */
#home {
    display: block;
}
#my_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10em;
    margin-left: 9rem;
    margin-right: 9rem;
}
#welcome_message {
    width: 40rem;
    margin-top: 1rem;
}
#greeting {
    font-family: 'Raleway';
    color: white;
    font-size: 32px;
    margin: 0;
}
#name {
    font-family: 'Raleway';
    color: white;
    font-size: 44px;
    margin: 0;
}
#my_description {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #9C9C9C;
    line-height: 2;
}
#download_cv {
    cursor: pointer;
    background-color: #3F8E00;
    border-color: #62BA1B;
    font-family: 'IBM Plex Mono', bold;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 25px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 21px;
    padding-bottom: 21px;
    box-shadow: 0 0 15px #3F8E00;
}

/*About Page */
#about {
    display: none;
}
#aboutContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10rem 8rem 0 6rem;
    padding: 1rem;
    gap: clamp(3rem, 5vw, 6rem); 
}
.textSection {
    max-width: 600px;
}
#aboutLbl {
    font-family: 'Raleway';
    color: white;
    font-size: 44px;
    margin: 0 0 1rem 0;
}
#aboutMe {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    color: #9C9C9C;
    line-height: 2;
    text-align: justify;
}

#imgPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
    }
#imgFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18em;
    height: 14em;
    flex-shrink: 0;
}
.imgBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 44px;
    background: none;
    border: none; 
    cursor: pointer;
    color: #9C9C9C;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#imgLbl {
    font-family: 'Raleway';
    color: white;
    font-size: 44px;
    margin: 0 0 1rem 0;
}
.photos {
    max-height: 14em;
    max-width: 18em;
}

/* Skills Page */
#skills {
    display: none;
}
#s1 {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
#skillsLbl {
    font-family: 'Raleway';
    font-size: 44px;
    color: white;
}
#skillsFrame {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:0 10rem 4rem 10rem;
    gap: 2rem;
}
.box {
    background-color: #484848;
    height: 14em;
    width: 13em;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.img {
    margin-top: 1rem;
}

/* Skills Logo */
#html {
    height: 6em;
    width: 6em;
}
#css {
    height: 6em;
    width: 6em;
}
#javascript {
    height: 6em;
    width: 6em;
}
#java {
    height: 6em;
    width: 6em;
}
#python {
    height: 6em;
    width: 6em;
}
#solidity {
    height: 6em;
    width: 6em;
}
#figma {
    height: 6em;
    width: 6em;
}
#mysql {
    height: 6em;
    width: 6em;
}

.label {
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
}